@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Cabin_Sketch/CabinSketch-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    background: rgba(0,0,0,0.85);
    font-family: 'Cabin Sketch', cursive;
}

.form-control {
    font-family: 'Verdana', 'Geneva', sans-serif;
}

#site-header {
    display: block;
    position: relative;
    height: auto;
    padding: 10px;
    color: rgba(255,255,255,0.9);
    background: rgb(106, 147, 194);
    z-index: 2;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.15);
}
#site-header #site-title {
    font-family: 'Cabin Sketch', cursive;
    margin: 0;
}
#site-header #site-title img {
    opacity: 0.9;
}

#navigation #nav-list {
    list-style: none;
    padding: 0px;
    position: relative;
    width: 100%;
    background: rgba(255,255,255,0.75);
    font-family: 'Cabin Sketch', cursive;
    font-size: 18px;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.75);
    display: inline-block;
    margin-bottom: 0px;
}
#navigation #nav-list .nav-item {
    display: inline-block;
}
#navigation #nav-list .nav-item a{
    display: inline-block;
    margin: 0px 10px;
    padding: 10px 20px;
    transition: background 0.2s;
}
#navigation #nav-list .nav-item a:hover,
#navigation #nav-list .nav-item a:focus{
    background: rgba(255,255,255,0.2);
    transition: background 0.2s;
    text-decoration: none;
    color: #337ab7;
    outline: none;
}
#navigation #nav-list .nav-item.selected a{
    background: rgba(255,255,255,0.6);
}

#site-footer {
    text-align: center;
    padding: 5px;
    background: rgba(0,0,0,0.75);
    position: fixed;
    width: 100%;
    bottom: 0;
    color: rgba(255,255,255,0.25);
    z-index: 3;
}

#main-content {
    margin: 20px auto;
    overflow-y: auto;
    max-width: 1000px;
    padding: 20px;
}

#table-wrapper {
    box-shadow: 0px 2px 10px rgba(0,0,0,1);
    border-radius: 0.7em;
    overflow: hidden;
}

#main-content label {
    color: rgba(0,0,0,0.6);
    font-size: 16px;
}

#main-content table {
    background: rgba(255,255,255,0.9);
    margin-bottom: 0px;
    font-family: 'Cabin Sketch', cursive;
}
#main-content table tbody {
    cursor: pointer;
    font-family: 'Verdana', 'Geneva', sans-serif;
}
.fc-toolbar {
    display: none;
}
.fc-time {
    background: rgba(0,0,0,0.05);
}
.fc-day-header {
    padding: 5px 0px !important;
}
#main-content .fc-head {
    border-bottom: 3px double rgba(0,0,0,0.1);
}

#add-new {
    float: right;
}
#reset {
    float: right;
    margin-right: 10px;
}
#delete {
    float: left;
    display: none;
}

/* Dance Page */
#large-none {
    width: 100%;
    text-align: center;
    color: rgba(255,255,255,0.5);
}
#large-none span {
    font-size: 50px;
}
#large-none p {
    font-size: 25px;
}

ul.ui-autocomplete {
    z-index: 1100;
}

.dancer-list {
    padding: 0px 20px;
    list-style: none;
    margin-top: 10px;
    min-height: 20px;
}

.dancer-list li {
    background-color: white;
    margin-bottom: 10px;
    padding: 2px 8px;
    border-radius: 0.25em;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);
    cursor: move;
    font-family: 'Verdana', 'Geneva', sans-serif;
    color: rgba(0,0,0,0.6);

    transition: box-shadow 0.2s;
}

.dancer-list li:hover {
    box-shadow: 0px 0px 4px 2px rgba(106, 147, 194, 0.6);
}

.dancer-list li > span{
    color: rgba(0,0,0,0.2);
}

.dance-title {
    margin: 0;
}

.dance-title-details {
    text-align: right;
}

@media screen and (max-width: 991px) {
    .dance-title-details {
        text-align: left;
    }
}

.dance-wrapper .panel-heading:hover {
    cursor: pointer;
}

.panel-body,
.panel-heading p {
    font-family: 'Verdana', 'Geneva', sans-serif;
}

.panel-heading p {
    margin: 0;
}

.top-dancers-div h3,
.alt-dancers-div h3 {
    margin: 0;
    margin-bottom: 10px;
}

.dancer-item {
    margin-bottom: 2px;
}